* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: #c9dadbeb;
    color: #000;
}

.container {
    background: #c9dada;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    width: 90%; /* Add responsive width */
    max-width: 600px; /* Max width for large screens */
}

.heading {
    text-align: center;
}

form {
    margin: 0.8rem 0;
}

.input-container {
    margin: 0 0 1rem 0;
}
label{
    font-size: 1.3rem;
}
.input-field {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
    width: 60%; /* Make input fields responsive */
}

.calculate-button {
    align-items: center;
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 40%; /* Make button responsive */
    font-size: 1.3rem;
    &:hover {
        cursor: pointer;
    }
}

.result-container {
    margin: 0.5rem 0;

    h3 {
        display: inline;
        font-size: 1.3rem;
    }
}

.weight-guide > ul {
    padding: 0.5rem 0.2rem;
    list-style-type: none;
}

.weight-guide > ul > li {
    line-height: 1.9rem;
    font-size: 1.3rem;
}

@media (max-width: 768px) {
    .container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
    }

    .input-field {
        height: 35px;
        width: 70% ;
    }

    .calculate-button {
        padding: 0.7rem;
        width: 12rem;
        font-size: 22px;
    }

    .result-container h3 {
        font-size: 1.5rem;
    }

    .weight-guide > ul > li {
        font-size: 1.2rem;

    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 1rem;
    }
    label{
        font-size: 1.2rem;
    }
    .input-field {
        height: 40px;
        width: 100%;
        margin-top: 0.5rem;
    }

    .calculate-button {
        padding: 0.8rem;
        width: 100%;
        font-size: 20px;
    }

    .result-container h3 {
        font-size: 1.2rem;
    }

    .weight-guide > ul > li {
        font-size: 1rem;
    }
}
